.register {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../assets/sign-up.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    border-radius: 10px;
    padding: 10px 0;
    background-color: rgb(41, 41, 41);
    width: 280px;
    height: 470px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;

    .logo {
      display: flex;
      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        font-style: oblique;
        color: #fff;
      }

      // h2:nth-child(1) {
      //   color: blue;
      // }

      // h2:nth-child(2) {
      //   color: green;
      // }
    }

    .title {
      h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #8cffb8;
      }
    }

    .inputs{
      
    }

    .checkbox {
      display: flex;
      gap: 10px;

      input {
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;

        span {
          color: rgb(0, 102, 136);
        }
        :hover {
          color: #0048ff;
        }
      }
    }
    .buttons {
      height: 140px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      button {
        background-color: rgb(8, 212, 8);
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        padding: 3px 0;
        width: 250px;
        border-radius: 25px;
        transition: 0.7s;
      }
      button:hover {
        background-color: rgb(41, 255, 8);
      }

      
      .or {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        p {
          margin: 0;
          padding: 0;
          font-size: 15px;
          font-weight: 500;
        }
        .two {
          p {
            color: #fff;
          }
        }

        .one {
          background-color: rgb(124, 124, 124);
          width: 100px;
          height: 2px;
        }
      }
    }
  }
}
